* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: gray;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.semi {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.operations {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-around;
  margin-top: 40px;
}

h1 {
    color: white;
    font-size: 40px;
}

p {
    font-size: 30px;
    color: greenyellow;
}

button {
  width: 40px;
  height: 40px;
  background-color: greenyellow;
  font-size: 30px;
}
